aniso8601==8.0.0
blinker==1.4
certifi==2019.11.28
chardet==3.0.4
cheroot==8.2.1
CherryPy==18.5.0
Click==7.0
constants==0.6.0
dnspython==1.16.0
enums==0.0.2
Flask==1.1.1
Flask-Log-Request-ID==0.10.0
Flask-RESTful==0.3.7
Flask-SocketIO==4.2.1
gevent==1.4.0
greenlet==0.4.15
gunicorn==20.0.4
idna==2.8
itsdangerous==1.1.0
jaraco.classes==3.1.0
jaraco.collections==3.0.0
jaraco.functools==3.0.0
jaraco.text==3.2.0
Jinja2==2.10.3
MarkupSafe==1.1.1
marshmallow==3.3.0
monotonic==1.5
more-itertools==8.1.0
portend==2.6
pygelf==0.3.6
python-dateutil==2.8.1
python-engineio==3.11.2
python-socketio==4.4.0
pytz==2019.3
requests==2.22.0
six==1.13.0
tempora==2.1.0
urllib3==1.25.7
Werkzeug==0.16.0
zc.lockfile==2.0
