<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Serach</title>
</head>
<body>
    <h1>Search data by Inventory_name or Category</h1>
       {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
    <form action="http://127.0.0.1:5000/search" method="post">
        <label >Inventory_name</label>
        <input type="text" name="s_name"/><hr>
        <label >Category</label>
        <input type="text" name="s_category">
        <hr>
        <lable>TimeZone</lable>
        <input list="browsers" name="time_zone" required>
        <datalist id="browsers">
            {% for pz in timezone_list %}
                <option value={{pz}}>
            {% endfor %}
        </datalist>
        <hr>
        <input type="submit" name="search">
    </form>
    <center><p>
    {% if data %}
        <table border="1">
            <th>Id</th>
            <th>Name</th>
            <th>Category</th>
            <th>Expire_time(CST Time)</th>
            <th>Quantity</th>
            <th>Manufacturing_Time(CST Time)</th>
            <th>Image</th>
            {% for idata in data %}
                <tr>
                    <td>{{idata['inventory_id']}}</td>
                    <td>{{idata['Name']}}</td>
                    <td>{{idata['Category']}}</td>
                    <td>{{idata['expire_time']}}</td>
                    <td>{{idata['Quantity']}}</td>
                    <td>{{idata['manufacturing_date']}}</td>
                    <td><img src={{idata['image']}} alt="" width="50px" height="50px"></td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}</p></center>
</body>
</html>